# Database
DATABASE_URL="mongodb+srv://username:password@cluster.mongodb.net/database"

# Telegram Bot
TELEGRAM_BOT_TOKEN="123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ"
TELEGRAM_CHAT_ID="123456789"

# Authentication
ADMIN_SECRET="your_admin_secret_here"
BETTER_AUTH_SECRET="your_better_auth_secret_here_make_it_long_and_random"

# Public (Optional/If used)
# NEXT_PUBLIC_GOOGLE_ANALYTICS=""
# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
